{% extends 'base.html' %}
{% block main %}

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="col-6 mr-auto ml-auto">
        <div class="card"  style="background-color:white;color:black;;">
          <div class="card-header">
            {{foundblog.title}}
            {% if foundblog.image %}
            <img class="card-img-bottom" src="{{foundblog.image.url}}" alt="{{foundblog.titile}} image">
            {% endif %}
          </div>
          <div class="card-body">
            {{foundblog.content}}
          </div>
          <div class="card-footer">
            <strong style="float:left"><p>BY: {{foundblog.author}}</p></strong>
            <a style="float:right" href="{% url 'update' foundblog.id %}" class="btn btn-md btn-outline-danger">Update</a>
          </div>
        </div>
      </div>
    </div>
  </div
</div>
{% endblock %}
